<p-panel header="Pipes Basicos Numericos de Angular" class="p-1">
  <h1>Pipes Basicos</h1>
  <p>
    Pipes incluidos en angular en common module
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      {{ (totalSells + 1235) | number: '1.2-2' }}
    </p-card>

  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      {{totalSells | currency:'USD': 'symbol-narrow': '1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancia Potencial" subheader="del presente año">
      {{percent | percent: '1.2-2'}}
    </p-card>
  </div>
</div>
